<div class="well" style="background: LightGreen;">
  <div style="text-transform: uppercase;"><%= @card.word %></div>
</div>
<div class="well">
  <div><%= @card.taboo1 %></div>
  <div><%= @card.taboo2 %></div>
  <div><%= @card.taboo3 %></div>
  <div><%= @card.taboo4 %></div>
  <div><%= @card.taboo5 %></div>
</div>
