<div><%= @card.word %></div>
<div><%= @card.taboo1 %></div>
<div><%= @card.taboo2 %></div>
<div><%= @card.taboo3 %></div>
<div><%= @card.taboo4 %></div>
<div><%= @card.taboo5 %></div>
<div><%= link_to 'Next Card', card_path %></div>
